<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>United Baggage Manager - log in</title>

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'Baggage_Recovery_App/style.css' %}">
  <link rel='stylesheet' href='https://oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.css' />
</head>
<body>
  <div class="nav-bar">
    <div class="nav-bar-button">
      <a href="../index.html"><i class="angle left icon"></i>Back</a>
    </div>
    <div class="nav-bar-logo"><img src={% static 'Baggage_Recovery_App/asset/UA-logo-white.svg' %} alt=""></div>
  </div>

  <div class="main">
    <h1>MileagePlus Program #</h1>
    <div class="meta">Please enter your 6 digits confirmation number. The number can be founded in your email/text</div>
    <div class="ui fluid input">
      <input type="text" placeholder="Input here" id="passengerId">
    </div>

    <div class="bottom-fixed-button">
      <a class="ui ua-blue fluid button" onclick="submitPassengerId()">Next</a>
    </div>
  </div>

  <script type="text/javascript" src={% static 'Baggage_Recovery_App/baggage-management/app.js'%}></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
</body>
</html>
